.footer {
  padding: 50px;
  background-color: black;
  width: 1800px;
  height: 120px;
  text-align: center;
  color: green;
}

.footer > h1 {
  margin: 5px;
}
.footer_icons {
  justify-self: center;
  margin-top: 10px;
  /* padding-left: 44.5%; */
  display: inline-flex;
  flex-direction: row;
  text-align: center;
}

.footer_icon1 {
  margin-right: 15px;
}
.footer_icon2 {
  margin-right: 15px;
}
.footer_icon3 {
  margin-right: 15px;
}
.footer_icon4 {
  margin-right: 15px;
}
.footer_icon5 {
  margin-right: 15px;
}
